.banner_section{
    width: 85vw;
    margin: 30px auto;
}
.banner{
    border: 3px solid red;
    height: 400px;
    margin-left: auto;
    background: url('../assets/img/hero/banner.jpg'); 
    background-size: cover;
    background-position: top center;
    padding: 20px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 75px;
}
.banner_text{
    /* background-color: red; */
}
.banner_text >h3{
    margin: 10px 0;
    color: green;
}
.banner_text >h1{
    margin: 10px 0;
    font-size: 46px;
    font-weight: 700;
}
.banner_text >small{
    margin: 10px 0;
    display: block;
}
.banner_text >button{
    margin: 10px 0;
    background-color: green;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    padding: 8px 20px;
}
.home_blog_right_section,.home_product_section,.home_showcase{
    width: 85vw;
    margin: 0 auto;
}
.home_showcase{
    display: flex;
    flex-direction: column;
}
.home_showcase_left>img,.home_showcase_right>img{
    width: 100%;
}
.home_blog_right_section{
    margin-bottom: 30px;
}
.home_blog_right,.home_product{
    display: flex;
    flex-wrap: wrap;
    
}
.homeblogs,.homeproduct{
    width: 100%;
}
.home_additional{
    padding: 25px 0;
    text-align: center;
}
.home_additional_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 800;
    margin: 30px 0;
}
.home_additional_heading>p{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px solid green;
    padding-bottom: 10px;
}
.home_additional_button{
    margin: 30px 0;
}
.home_additional_button > button{
    margin: 0 30px;
    text-transform: capitalize;
    background-color: transparent;
    border-top:none ;
    border-left:none ;
    border-right:none ;
    font-size: 1.1em;
    cursor: pointer;
}
@media screen and (min-width:576px) {
    .home_blog_right,.home_product{
        gap:1.2em;
    }
    .homeblogs,.homeproduct{
        width: 48%;
    }
    .home_showcase{
        flex-direction: row;
        gap:30px;
    }
        
}
@media screen and (min-width:768px) {
    .home_blog_right,.home_product{
        gap:1.4em;
    }
    .homeblogs,.homeproduct{
        width: 31%;
    }
    
}
@media screen and (min-width:992px) {
    .home_blog_right{
        gap:1.8em;
    }
    .home_product{
        gap:2.1em;
    }
    .homeproduct{
        width: 22%;
    }
    .banner{
        width: 74%;
    }
         
}
@media screen and (min-width:1200px) {
    .home_blog_right{
        gap:2.2em;
    }
         
}