header{
    background-color: aliceblue;
}
.topHeader{
    width: 85vw;
    height: 40px;
    display: flex;
    margin: 0 auto;
    font-size: 0.9em;
    font-weight: 500;
}
.left{
    display: flex;
    align-items: center;
}
.left p{
    display: flex;
    align-items: center;
}
.left p:first-child::after{
    content: "|";
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.left >p>span{
   margin-right: 0.4em;
}
.right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: end;
}
.right  > p > span {
    margin: 0 0.5em;
}

.lan{
    display: flex;
    align-items: center;
}
.lan::before{
    content: "|";
    margin: 0 1em;
}
.lan::after{
    content: "|";
    margin: 0 1em;
}
.login{
    display: flex;
    align-items: center;
}
/* =============== */
.bottomHeader{
    width: 85vw;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 0.9em;
    font-weight: 500;
}
.top{
    display: flex;
    width: 100%;
}
.topLeft{
    flex: 1;
    display: flex;
    align-items: center;
}
.topLeft>img{
    cursor: pointer;
}
.topMiddle{
    flex: 2;
}
ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0 0.5em;
}
ul li{
    cursor: pointer;
}
ul >li:hover{
    color: red;
}
.topRight{
    flex: 1;
    align-items: center;
    justify-content: end;
    display: flex
}
.box{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.box p{
    font-size: 1.1em;
}
.box p >span{
    font-weight: 900;
}
.carts{
    cursor: pointer;
}