.shopping-details_section{
    width: 85%;
    margin: 0 auto;
    border: 5px solid red;
}
.shoppingtable{
    width: 100%;
}
thead td{
    font-weight: 900;
    font-size: 20px;
    padding: 20px 5px;
    text-transform: capitalize;
}
tbody td{
    font-size: 18px;
    padding: 20px 5px;
    text-transform: capitalize;
}
.shoppingtable tbody tr:hover{
    background-color: aqua;
    cursor: pointer;
}
.flex{
    display: flex;
    flex-direction: row;
}
.itemcenter{
    align-items: center;
}
.justifycenter{
    justify-content: center;
}
.justifybetween{
    justify-content: space-between;
}
tbody td img{
    width: 90px;
    height: 90px;
}
tbody td:nth-child(2) p,tbody td:nth-child(4) p{
    font-weight: 800
}
.g-10{
    gap:10px;
}
.cartclose{
    cursor: pointer;
}
.cartclose:hover{
    color: rgba(202, 196, 196, 0.404);
    cursor: pointer;
}
