.left{
    display: flex;
    align-items: center;
}
.left p{
    display: flex;
    align-items: center;
}
.left p:first-child::after{
    content: "|";
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.left >p>span{
   margin-right: 0.4em;
}