.blog_details{
    width: 100%;
}
.blog_img{
    width: 100%;
}
.blog_img >img{
    width: 100%;
}
.blog_detail{
}
.blog_detail>p:first-child{
    display: flex;
    gap:15px;
    margin: 0.9em 0;
}
.blog_detail>p span{
    display: flex;
    gap:5px;
    color: #e4dddd;
    align-items: center;
}
.blog_detail>p:nth-child(2){
    font-size: 1.3em;
    margin: 0.9em 0;
}
.blog_detail>p:nth-child(3){
    font-size: 1em;
    margin: 0.9em 0;
    color: #00000052;
}
.blog_detail>p:last-child{
    margin: 0.9em 0;
    display: flex;
    align-items: center;
}
.blog_detail>p:last-child>button{
    border-radius: 20px;
    padding: 1em 2.5em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap:10px;
    border: 1px solid #e4dddd;
    background-color: transparent;
}