.blog{
    border: 1px solid red;
    width: 372px;
}
.blog_detail{
    margin: 20px 0;
}
.blog_detail >p{
    margin-bottom:18px;
}
.blog_detail >p:first-child{
    color:#B2B2B2;
    display: flex;
    gap: 20px;
}
.blog_detail >p:first-child span{
    display:flex;
    gap:5px;
    align-items: center;
}
.blog_detail >p:nth-child(2){
    font-weight: 700;
    font-size: 1.1em;
}