.blog_details{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.blog_details:last-child{
    margin: 0 0 0 0 ;
}
.blog_details>.blog_img>img{
    width: 100%;
}
.blog_detail{
    margin: 20px 0;
}
.blog_detail >p{
    margin-bottom:18px;
}
.blog_detail >p:first-child{
    color:#B2B2B2;
    display: flex;
    gap: 20px;
}
.blog_detail >p:first-child span{
    display:flex;
    gap:5px;
    align-items: center;
}
.blog_detail >p:nth-child(2){
    font-weight: 700;
    font-size: 1.1em;
}
.readmore{
    padding: 12px 30px;
    border-radius: 15px;
    border:1px solid #bbb;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.readmore >span{
    margin-left: 10px;
}
@media screen and (min-width:576px) {
 .blog_details{
    width:46%;
 }  
}