.product{
    border: 1px solid red;
    position: relative;
}
.product_detail{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 10px 0;
    font-size: 1.1em;
    background-color: hsl(0, 0%, 100%);
    z-index: 200;
}
.product_img>img{
    width: 100%;
    height: 250px;
}
.product_details >p:last-child{
    font-weight: 900;
}
.product_hover{
    position: absolute;
    bottom:0;
    display: flex;
    width: 100%;
    justify-content: center;
    transition: bottom 0.5s ease-in-out;
}

/* let's product_hover  hover effect and move with 360deg icons */
.product_hover>p{
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 10px;
   transform: rotate(0deg);
   transition: transform 0.8s ease-in;
}
.product_hover >p:hover{
    background-color: greenyellow;
    cursor: pointer;
    transform: rotate(360deg);
}

.product_hover >p:hover .hover_icons{
    color:#fff;
}
.product:hover  .product_hover{
    display: flex;
}
/* let's swift the product_hover 0 to 80 on hover */
.product:hover .product_hover{
    display: flex;
    bottom: 92px;
}
.hover_icons{
    width: 20px;
    height: 20px;
}