.dropdown_menu_box{
}
.dropdown_menu{
    border: 1px solid green;
    position: relative;
}
.buttons{
    border: 1px solid red;
    display: flex;
    background-color: bisque;
    justify-content: space-between;
}
.buttons p{
    margin-left: 10px;
    font-size: 0.7em;
    font-weight: 700;
}
.dropdown_list{
    height: 0px;
    overflow: hidden;
    padding-left: 12px;
    transition: height 1s ease-in-out;
    background-color: #fff;
}
.dropdown_list_hover{
    height: 440px;
}
.dropdown_list_item{
    cursor: pointer;
    margin: 15px 0;
    padding: 2px ;
}
@media screen and (min-width:992px) {
    .dropdown_list{
        border: 1px solid red;
        width: 100%;
        position: absolute;
    }
}