.header_topbar_three{
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    /* height: 70px; */

}
.header_topbar_three_left{
    flex:1;
    padding: 5px 0 20px 0;
}

.header_topbar_three_right{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.header_topbar_three_right_left{
    flex: 2;
    padding: 5px 0 20px 0;
}
.header_topbar_three_right_right{
flex: 1;
}



@media screen and (min-width:762px) {
    .header_topbar_three_right{
        flex-direction: row;
        align-items: center;
    }
    .header_topbar_three_right_left{      
        padding: 0 ;
    }   
}
@media screen and (min-width:992px) {
    .header_topbar_three{
        align-items: center;
    }
    .header_topbar_three_right{
        flex-direction: row;
        align-items: center;
    }   
    .header_topbar_three{
        flex-direction: row;
        gap:10px;
        align-items: center;
    }
    .header_topbar_three_left{
        padding: 0;
    }
    .header_topbar_three_right_left{      
        padding: 0 ;
    }   
}