.confrim_checkout{
    background-color: #fff;
    padding: 10px 20px;
}
.confrim_checkout_top{
    display: flex;
}
.confrim_checkout_top_left{
    flex:1;
}
.confrim_checkout_top_middle{
    flex:2;
    
}
.confrim_checkout_top_right{
    flex:2;
    
}
.confrim_checkout_bottom{
    display: flex;
    align-items: center;
    
}
.counter{
    display: flex;
    gap:20px;
    flex: 1;
    align-items: center;
}
.counter>.btn{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter>div{
    width: 60px;
    height: 30px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove{
    flex: 2;
}
.remove>.btn{
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: transparent;
}
.confrim{
    flex: 2;
    display: flex;
    justify-content: flex-end;
}
.confrim>.btn{
text-transform: uppercase;
border: none;
padding: 10px 40px;
background-color: coral;
font-weight: bold;
color: #fff;
}
button{
    cursor: pointer;
}
button:focus{
    outline: none;
}
.buy{
    padding: 20px ;
    background-color: #ffff;
    justify-content: center;
}